 * {
     margin: 0;
     padding: 0;
 }

 body {
     text-align: center;

 }

 .nav {
     width: 800px;
     border: 1px solid #000;
     background-color: azure;
 }

 .banner {
     text-align: center;
     border-bottom: 5px;
     border: 1px solid #000;
     background-color: #fc3;
 }

 .contenter {
     /* bd+tab快捷键写border， 
            dashed虚线，dotted点线
            "w50+h90+bgc"快捷键*/
     width: 800px;
     border: 1px solid #000;
     padding: 20px;
     margin: 0 auto;
     background-color: rgb(117, 140, 182);
 }

 .content {
     text-align: center;
     width: 800px;
     height: 300px;
     border: 1px solid #000;

 }

 .left {
     width: 400px;
     height: 300px;
     border: 1px solid #000;
     float: left;
     background-color: aliceblue;
 }

 .right {
     width: 396px;
     height: 300px;
     border: 1px solid #000;
     float: right;
     background-color: antiquewhite;
 }

 .footer {
     text-align: center;
     border: 1px solid #000;
     background-color: dimgrey;
 }